<h1>Üdvözlöm a fő oldalon</h1>
<h2>Áru kínálatunk:</h2>
<div>
  <div>
    <table>
      <tr>
        <th>Név</th>
        <th>Ár</th>
        <th>Darab</th>
        <th>Kosárhoz hozzáad</th>
      </tr>
      <tr *ngFor="let item of items">
        <td>{{ item.nev }}</td>
        <td>{{ item.ar }}</td>
        <td>{{ item.darab }}</td>
        <td><button (click)="addItemToCart(item)">Kosárhoz hozzáad</button></td>
      </tr>
    </table>
    <h3>Kosár</h3>
    <table>
      <tr>
        <th>Név</th>
        <th>Ár</th>
        <th>Darab</th>
      </tr>

      <tr *ngFor="let item of basket">
        <td>{{ item.nev }}</td>
        <td>{{ item.ar }}</td>
        <td>{{ item.darab }}</td>
      </tr>
      <tr>
        Összesen:
      </tr>
      <tr>
        <button (click)="Order()">Rendelés</button>
      </tr>
    </table>
  </div>

  <!-- <div>
    <ul>
      <li *ngFor="let item of items"></li>
    </ul>
  </div> -->
  <button (click)="logOut()">Log out</button>
  <div>
    <button (click)="goTobasket()">Kosárhoz</button>
  </div>
</div>
