<h1>A kosár tartalma</h1>
<div>
  <ul>
    <li *ngFor="let tombElem of basket">
      {{ tombElem }}
    </li>
  </ul>
</div>
<div>
  <input type="text" [(ngModel)]="ujAru" />
  <button (click)="Order()">Kosárhoz hozzáadás</button>
</div>
<div>
  <button (click)="backToMainPage()">Vissza a főoldalra</button>
</div>
