<div class="content" role="main">
  <h2>Login Page</h2>
  <div>
    <label>Username:</label>
    <!-- <input type="text" id="username" ([ngModel])="(username)" /> -->
    <input
      type="text"
      id="username"
      [(ngModel)]="username"
      placeholder="Username"
    />
  </div>
  <div>
    <label>Password:</label>
    <input
      type="password"
      id="password"
      [(ngModel)]="password"
      placeholder="Password"
    />
  </div>
  <button (click)="login()">Login</button>
</div>
